{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'todo/custom.css' %}">

    <link rel="stylesheet" href="{% static 'todo/footer.css' %}">
  
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  
    <link rel="icon" type="image/png" href="{% static 'todo/favicon.ico' %}">
    <title>ToDo App</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-warning">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'todo/favicon.ico' %}" width="30" height="30" class="d-inline-block align-top">
        <span>ToDo App</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">

                <li class="nav-item {{ current }}">
                    <a class="nav-link" href="{% url 'currenttodos' %}">Current</a>
                </li>
                <li class="nav-item {{ completed }}">
                    <a class="nav-link" href="{% url 'completedtodos' %}">Completed</a>
                </li>
                <li class="nav-item {{ create }}">
                    <a class="nav-link" href="{% url 'createtodo' %}">Create</a>
                </li>

        </ul>
    {% endif %}
    <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a href="#" onclick="$('#signOutBtn').click()" class="nav-link">Logout</a>
                    <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                        {% csrf_token %}
                        <button id="signOutBtn" type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>














<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
    <div class="container">
    <div class="row">
      
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget subscribe no-box">
    <h5 class="widget-title">Full Stack Djano3 Website<span></span></h5>
    <p>This website is implemented in Django with all modern features, handling database and many functionality + Bootstrap 4.</p>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">My other works<span></span></h5>
    <ul class="thumbnail-widget">
    <li>
    <div class="thumb-content"><a href="https://github.com/shubendu/Netflix-Movie-Recommendation">Netflix Movie Recommendation System</a></div>	
    </li>
    <li>
    <div class="thumb-content"><a href="https://shubendu.github.io/p/financial-distress-prediction-using-smote/">Financial Distress Prediction using SMOTE</a></div>	
    </li>
    <li>
    <div class="thumb-content"><a href="https://shubendu.github.io/p/sentiment-analysis-of-tweets/">Sentiment analysis of tweets</a></div>	
    </li>
    <li>
    <div class="thumb-content"><a href="https://shubendu.github.io/p/human-activity-recognition-with-smartphones/">Human Activity Recognition with Smartphones</a></div>	
    </li>
    </ul>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    <div class="widget no-box">
    <h5 class="widget-title">About<span></span></h5>
    <p>Please visit my Blogs for more content like this 😊</p>
    <a class ="btn" id="btnn" href="https://shubendu.github.io" target="_blank">My Blogs</a>
    <a class ="btn" id="btnn" href="https://shubendu.netlify.app" target="_blank">My Portfolio</a>
    </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-3">
    
    <div class="widget no-box">
    <h5 class="widget-title">Contact Me<span></span></h5>
    
    <p><a href="mailto:biswasshubendu4@gmail.com" title="glorythemes">biswasshubendu4@gmail.com</a></p>
    <ul class="social-footer2">
    <li class=""><a  target="_blank" href="https://www.linkedin.com/in/shubendubiswas/"><img alt="linkedin" width="30" height="30" src="https://freepngimg.com/thumb/linkedin/9-2-linkedin-free-download-png.png"></a></li>
    <li class=""><a href="https://github.com/shubendu" target="_blank" title="github"><img alt="github" width="30" height="30" src="https://freepngimg.com/thumb/github/1-2-github-free-png-image.png"></a></li>
    <li class=""><a href="https://twitter.com/BiswasShubendu" target="_blank" title="Twitter"><img alt="Twitter" width="30" height="30" src="https://freepngimg.com/thumb/twitter/15-2-twitter-png-picture.png"></a></li>
    </ul>
    </div>
    </div>
    
    </div>
    </div>
    </div>
      
    <div class="footer-copyright">
    <div class="container">
    <div class="row">
    <div class="col-md-12 text-center">
    <p>Copyright Shubendu Biswas © 2021. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>